---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

body {
    font-size: 30px !important;
    font-family: 'Times New Roman', serif !important;
}