---
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

.page__content {
    font-size: 5px !important;
    font-family: 'Times New Roman', serif !important;
}