---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

body {
    font-size: 20px;
    font-family: 'Times New Roman', serif !important;
}

.page__content {
    font-size: 20px;
}